nav{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font: size 100px;
    background-color: #0b6e64   ;
    background-size: 500px;
   
}
span{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    margin: 0px;
    padding: 0px;
    display: block;
}
button{
    background-color: #0b6e64;
    border-radius: 5px;
    border-color: #0b6e64;
}
.features {
    display: flex;
    justify-content: space-around; /* or use space-between */
    gap: 20px; /* space between features */
    margin-top: 30px;
  }
  
  .feature {
    width: 30%;
    text-align: center;
  }
  @media (max-width: 768px) {
    .features {
      flex-direction: column;
      align-items: center;
    }
  
    .feature {
      width: 80%;
      margin-bottom: 20px;
    }
  }
    